# No subiremos los checkpoints, que son ficheros que no son del proyecto, propiamente hablando
.ipynb_checkpoints/
*.ipynb_checkpoints/
*-checkpoint.*
semana_12/dia_1/data/Canada sales data - copia.xlsx
semana_12/dia_1/data/beer - copia.xlsx
semana_12/dia_1/~WRL3525.tmp
semana_13/dia_1/database.sqlite
semana_13/dia_1/Ejemplo_dataset.ipynb
semana_13/dia_2/total_yelp_academic_dataset_review.json
